<section class="catalog">
  <div class="container catalog-container">
    <h1 class="catalog-title">Catalog</h1>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <img
          src="/img/catalog/catalog1.webp"
          alt="black clock"
          class="catalog-img"
        />
        <!-- <div class="catalog-container-list"> -->
        <h3 class="catalog-list-subtitle">
          Garmin Fenix 7X Pro Sapphire Sol...
        </h3>
        <p class="catalog-list-text">€500</p>
        <!-- </div> -->
      </li>

      <li class="catalog-list-item">
        <img
          src="/img/catalog/catalog2.webp"
          alt="black clock"
          class="catalog-img"
        />

        <div class="catalog-container-list">
          <h3 class="catalog-list-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-list-text">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <img
          src="/img/catalog/catalog3.webp"
          alt="black clock"
          class="catalog-img"
        />
        <div class="catalog-container-list">
          <h3 class="catalog-list-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-list-text">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <img
          src="/img/catalog/catalog4.webp"
          alt="black clock"
          class="catalog-img"
        />
        <div class="catalog-container-list">
          <h3 class="catalog-list-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-list-text">€380</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <img
          src="/img/catalog/catalog5.webp"
          alt="black clock"
          class="catalog-img"
        />
        <div class="catalog-container-list">
          <h3 class="catalog-list-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-list-text">€400</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <img
          src="/img/catalog/catalog6.webp"
          alt="black clock"
          class="catalog-img"
        />
        <div class="catalog-container-list">
          <h3 class="catalog-list-subtitle">
            Tube Watch S42 Date Steel With...
          </h3>
          <p class="catalog-list-text">€395</p>
        </div>
      </li>
    </ul>
  </div>
</section>
